/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
    --bg-color: #121212;
    --card-bg: #1f1f1f;
    --text-color: #f0f0f0;
    --border-color: #2c2c2c;
    --accent-color: #ff4081;
    --accent-hover: #ff5c93;
    --error-color: #ff4d4d;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }